// abstracts/_variables.scss
$green-light: #78c36e;
$green-medium: #2c9738;
$green-dark: #266b12;
$green-deep: #0d6221;
$green-black: #012804;
$neutral: #e0e0e0;
$neutral-dark: #424242;
$background: #ffffff;
$error: #e53935;
$blue-link: #1976d2;
