<div class="title-wrapper">
  <h2 class="section-title">
    @if (userRole === UserRole.OWNER) {
      Salas comunidad creadas a partir de tus espacios deportivos
    } @else {
      Salas comunidad
    }
  </h2>
</div>

<app-filter
  [config]="[
    { field: 'sport', type: 'select', label: 'Deporte', options: SPORTS },
    { field: 'gamemode', type: 'select', label: 'Modo de juego', options: [] },
    { field: 'gameday', type: 'date', label: 'Fecha de juego' },
    { field: 'startTime', type: 'time', label: 'Hora inicio' },
    { field: 'maxAmount', type: 'number', label: 'Adelanto máximo' }
  ]"
  (filtersChanged)="onFiltersChanged($event)"
/>

@defer (prefetch on viewport){
  @if (rooms(); as room) {
    <div class="cards-grid">
      @for (r of room; track r.id) {
        <app-room-card [room]="r" [showStatus]="false"/>
      } @empty {
        @if (this.userRole === UserRole.OWNER) {
          <div class="empty-state">
            <i class="lni lni-megaphone-1 empty-icon"></i>
            <p>Aún no hay salas comunidad creadas a partir de tus espacios deportivos</p>
          </div>
        } @else {
          <div class="empty-state">
            <i class="lni lni-eraser-1"></i>
            <p>No hay salas comunidad disponibles en este momento :(</p>
          </div>
        }
      }
    </div>
  } @else {
    <div class="view-spinner view-spinner--sm">
      <app-spinner/>
    </div>
  }
} @placeholder {
  <div class="empty-state">
    <i class="lni lni-hourglass placeholder-icon"></i>
    <p>Preparando carga de salas comunidad...</p>
  </div>
} @loading {
  <div class="view-spinner view-spinner--sm">
    <app-spinner/>
  </div>
}
