.sportspace-card {
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #f9f9f9;
  padding: 1rem;
  text-align: center;

  &__image {
    width: 100%;
    height: auto;
    border-radius: 4px;
    margin-bottom: 0.5rem;
  }

  &__content {
    & > * {
      margin: 0.3rem 0;
    }
  }

  &__title {
    font-size: 1rem;
    font-weight: bold;
    color: #333;
  }

  &__type,
  &__district,
  &__price {
    font-size: 0.9rem;
    color: #555;
  }
}
