<div class="register-container">
  <h2>Registro</h2>

  <form [formGroup]="registerForm" (ngSubmit)="register()">
    <div>
      <label>Nombre:</label>
      <input type="text" formControlName="name" required>
    </div>

    <div>
      <label>Email:</label>
      <input type="email" formControlName="email" required>
    </div>

    <div>
      <label>Contraseña:</label>
      <input type="password" formControlName="password" required>
    </div>

    <div>
      <label>Rol:</label>
      <select formControlName="role" required>
        <option value="">Selecciona un rol</option>
        <option value="PLAYER">Jugador</option>
        <option value="OWNER">Propietario</option>
      </select>
    </div>

    <button type="submit" [disabled]="registerForm.invalid">Registrarse</button>
  </form>

  <p>¿Ya tienes una cuenta? <a routerLink="/login">Iniciar Sesión</a></p>

  @if (errorMessage()) {
    {{errorMessage()}}
  }
</div>
