<header class="header">
  <nav>

    @if (isAuthenticated()) {
      @switch (role()) {
        @case (UserRole.PLAYER) {
          <a routerLink="/reservations">Mis Reservas</a>
          <a routerLink="/profile">Perfil</a>
        }
        @case (UserRole.OWNER) {
          <a routerLink="/sport-spaces">Mis Espacios</a>
          <a routerLink="/subscription">Subscripción</a>
          <a routerLink="/profile">Perfil</a>
        }
        @case (UserRole.ADMIN) {
          <a routerLink="/dashboard">Admin Panel</a>
        }
        @default {
          <span>Rol no reconocido</span>
        }
      }
    } @else {
      <a routerLink="/login">Iniciar sesión</a>
      <a routerLink="/register">Registrarse</a>
    }
  </nav>
</header>
