<header class="header">
  <nav>

    @if (isAuthenticated()) {
      @switch (role()) {
        @case ('PLAYER') {
          <a routerLink="/rooms">Salas comunidad</a>
          <a routerLink="/sport-spaces">Espacios deportivos</a>
          <a routerLink="/reservations">Mis Reservas</a>
          <a routerLink="/profile">Perfil</a>
        }
        @case ('OWNER') {
          <a routerLink="/sport-spaces">Mis espacios deportivos</a>
          <a routerLink="/subscription">Subscripción</a>
          <a routerLink="/profile">Perfil</a>
        }
        @case ('ADMIN') {
          <a routerLink="/dashboard">Admin Panel</a>
        }
        @default {
          <span>Rol no reconocido</span>
        }
      }
    } @else {
      <a routerLink="/login">Iniciar sesión</a>
      <a routerLink="/register">Registrarse</a>
    }
  </nav>
</header>
