<h1>Tickets de retiro de créditos</h1>

@defer (on timer(200ms)) {
  @if (userRole === UserRole.OWNER) {
    <button (click)="openTicketModal()">Crear ticket</button>
  }
}

@defer (prefetch on viewport) {
  @if (tickets(); as tcks) {
    <div class="cards-grid">
      @for (ticket of tcks; track ticket.id) {
        <app-ticket-card [ticket]="ticket" />
      } @empty {
        <p>No tienes tickets de retiro solicitados</p>
      }
    </div>
  } @else {
    <p>Cargando tickets de retiro...</p>
  }
} @placeholder {
  <p>Preparando carga de tickets de retiro...</p>
} @loading {
  <p>Cargando tickets de retiro...</p>
}

<!-- Modal -->
@if (showBankTransferModal) {
  <app-modal (closeModal)="closeTicketModal()">
    <ng-container modal-header>Ticket de retiro de crédito</ng-container>

    <ng-container modal-body>
      <div class="bank-type-toggle">
        <label>
          <input
            type="radio"
            name="bankType"
            value="asociado"
            [(ngModel)]="bankType"
            (change)="onBankTypeChange()"
          />
          Bancos Asociados
        </label>

        <label>
          <input
            type="radio"
            name="bankType"
            value="otro"
            [(ngModel)]="bankType"
            (change)="onBankTypeChange()"
          />
          Otros Bancos
        </label>
      </div>


      <form [formGroup]="ticketForm" class="ticket-form">
        <label>
          Nombre completo:
          <input formControlName="fullName" type="text" />
        </label>
        @if (ticketForm.get('fullName')?.touched && ticketForm.get('fullName')?.invalid) {
          @if (ticketForm.get('fullName')?.errors?.['required']) {
            <small class="ticket-form__error">Es necesario el nombre completo</small>
          }
          @if (ticketForm.get('fullName')?.errors?.['minlength']) {
            <small class="ticket-form__error">El nombre completo debe tener al menos 5 caracteres</small>
          }
        }

        @if (bankType === 'asociado') {
          <label>
            Banco:
            <select formControlName="bankName">
              <option value="BCP">BCP</option>
              <option value="BBVA">BBVA</option>
              <option value="Interbank">Interbank</option>
            </select>
          </label>
        } @else {
          <label>
            Banco (escribe el nombre):
            <input formControlName="bankName" type="text" />
          </label>
        }
        @if (ticketForm.get('bankName')?.touched && ticketForm.get('bankName')?.invalid) {
          @if (ticketForm.get('bankName')?.errors?.['required']) {
            <small class="ticket-form__error">El banco es obligatorio</small>
          }
          @if (!associatedBanks.includes(ticketForm.get('bankName')?.value)) {
            <label>
              Especificar banco:
              <input type="text" formControlName="bankName" />
            </label>
          }
        }

        <label>
          {{ bankType === 'asociado' ? 'Número de cuenta:' : 'Número de cuenta interbancario:' }}
          <input formControlName="accountNumber" type="text" />
        </label>
        @if (ticketForm.get('accountNumber')?.touched && ticketForm.get('accountNumber')?.invalid) {
          @if (ticketForm.get('accountNumber')?.errors?.['required']) {
            <small class="ticket-form__error">El número de cuenta es obligatorio</small>
          } @else if (ticketForm.get('accountNumber')?.errors?.['pattern']) {
            <small class="ticket-form__error">El número de cuenta solo debe contener números</small>
          } @else if (ticketForm.get('accountNumber')?.errors?.['invalidAccountNumberLength']) {
            <small class="ticket-form__error">
              La longitud del número de cuenta debe ser de
              {{ ticketForm.get('accountNumber')?.errors?.['invalidAccountNumberLength'].expectedLength }} dígitos
            </small>
          }
        }
      </form>
    </ng-container>

    <ng-container modal-footer>
      <button (click)="submitTicketRequest()" [disabled]="ticketForm.invalid">Solicitar</button>
      <button (click)="closeTicketModal()">Cancelar</button>
    </ng-container>
  </app-modal>
}
