<div class="title-wrapper">
  <div class="section-title">Retiro de créditos</div>
  @if (this.userRole === UserRole.OWNER) {
    <button class="add-sport-btn" (click)="openTicketModal()" title="Crear ticket de retiro">
      <i class="lni lni-plus"></i>
    </button>
  }
</div>

<div class="tab-buttons tab-buttons--reservation">
  <button [class.active]="activeTab() === 'pending'" (click)="setTab('pending')">Pendiente</button>
  <button [class.active]="activeTab() === 'confirmed'" (click)="setTab('confirmed')">Confirmado</button>
</div>

@defer (prefetch on viewport) {
  @if (filteredTickets(); as tcks) {
    <div class="cards-grid">
      @for (ticket of tcks; track ticket.id) {
        <app-ticket-card [ticket]="ticket"
                         (ticketConfirmed)="loadTickets()"
                         (ticketDeferred)="loadTickets()"/>
      } @empty {
        @if (userRole === UserRole.OWNER) {
          <div class="empty-state">
            <i class="lni lni-megaphone-1 empty-icon"></i>
            <p>No tienes tickets de retiro de créditos solicitados</p>
          </div>
        } @else if (userRole === UserRole.ADMIN) {
          <div class="empty-state">
            <i class="lni lni-megaphone-1 empty-icon"></i>
            <p>No tienes tickets de retiro de créditos por atender</p>
          </div>
        }
      }
    </div>
  } @else {
    <div class="view-spinner view-spinner--sm">
      <app-spinner/>
    </div>
  }
} @placeholder {
  <div class="empty-state">
    <i class="lni lni-hourglass placeholder-icon"></i>
    <p>Preparando carga de tickets de retiro...</p>
  </div>
} @loading {
  <div class="view-spinner view-spinner--sm">
    <app-spinner/>
  </div>
}

<!-- Modal -->
@if (showTicketModal) {
  <app-modal [width]="'400px'" [variant]="'default'" (closeModal)="closeTicketModal()">
    <ng-container modal-header>Crear ticket de retiro</ng-container>

    <ng-container modal-body>
      <div class="bank-type-toggle">
        <label>
          <input
            type="radio"
            name="bankType"
            value="asociado"
            [(ngModel)]="bankType"
            (change)="onBankTypeChange()"
          />
          Bancos asociados
        </label>

        <label>
          <input
            type="radio"
            name="bankType"
            value="otro"
            [(ngModel)]="bankType"
            (change)="onBankTypeChange()"
          />
          Otros bancos
        </label>
      </div>


      <form [formGroup]="ticketForm" class="form-body">
        <div class="form-field">
          <div class="input-icon-wrapper">
            <input formControlName="fullName" type="text" placeholder="Nombre completo" required/>
          </div>
          @if (ticketForm.get('fullName')?.touched && ticketForm.get('fullName')?.invalid) {
            @if (ticketForm.get('fullName')?.errors?.['required']) {
              <small>Es nombre completo es obligatorio</small>
            }
            @if (ticketForm.get('fullName')?.errors?.['minlength']) {
              <small>El nombre completo debe tener al menos 5 caracteres</small>
            }
          }
        </div>

        <div class="form-field">
          <div class="input-icon-wrapper">
            @if (bankType === 'asociado') {
              <select formControlName="bankName">
                <option value="" disabled selected hidden>Banco asociado</option>
                <option value="BCP">BCP</option>
                <option value="BBVA">BBVA</option>
                <option value="Interbank">Interbank</option>
              </select>
            } @else {
              <input formControlName="bankName" type="text" placeholder="Nombre del banco"/>
            }
          </div>
          @if (ticketForm.get('bankName')?.touched && ticketForm.get('bankName')?.invalid) {
            @if (ticketForm.get('bankName')?.errors?.['required']) {
              <small>El banco es obligatorio</small>
            }
          }
        </div>

        <div class="form-field">
          <div class="input-icon-wrapper">
            <input
              formControlName="accountNumber"
              type="text"
              [placeholder]="bankType === 'asociado' ? 'Número de cuenta' : 'Número de cuenta interbancario'"
              required
            />
          </div>
          @if (ticketForm.get('accountNumber')?.touched && ticketForm.get('accountNumber')?.invalid) {
            @if (ticketForm.get('accountNumber')?.errors?.['required']) {
              <small>El número de cuenta es obligatorio</small>
            } @else if (ticketForm.get('accountNumber')?.errors?.['pattern']) {
              <small>El número de cuenta solo debe contener números</small>
            } @else if (ticketForm.get('accountNumber')?.errors?.['invalidAccountNumberLength']) {
              <small>
                La longitud del número de cuenta debe ser de
                {{ ticketForm.get('accountNumber')?.errors?.['invalidAccountNumberLength'].expectedLength }} dígitos
              </small>
            }
          }
        </div>
      </form>

      <section class="ticket-summary">
        <div>
          <strong>Monto a retirar:</strong> {{ userCredits }} créditos
        </div>
      </section>
    </ng-container>

    <ng-container modal-footer>
      <button type="submit" class="button-submit" (click)="submitTicketRequest()">
        @if (isLoadingSubmitRequest()) {
          <span class="spinner-default"></span>
        } @else {
          Crear
        }
      </button>
    </ng-container>
  </app-modal>
}
