<div class="main-container">

  <div class="form-section">

    <div class="form-header">
      <h2>¡Crea tu cuenta!</h2>
    </div>

    <form class="form-body" [formGroup]="registerForm" (ngSubmit)="register()">

      <div class="form-field">
        <div class="input-icon-wrapper">
          <input type="text" formControlName="name" required placeholder="Nombre">
          <i class="lni lni-user-4 icon"></i>
          @if (registerForm.get('name')?.invalid && (registerForm.get('name')?.dirty ||registerForm.get('name')?.touched)) {
            @if (registerForm.get('name')?.errors?.["required"]) {
              <small>El nombre es obligatorio</small>
            }
            @if (registerForm.get('name')?.errors?.["minlength"]) {
              <small>Debe tener mínimo 3 letras</small>
            }
          }
        </div>
      </div>

      <div class="form-field">
        <div class="input-icon-wrapper">
          <input type="email" formControlName="email" required placeholder="Correo electrónico">
          <i class="lni lni-envelope-1 icon"></i>
          @if (registerForm.get('email')?.invalid && (registerForm.get('email')?.dirty || registerForm.get('email')?.touched)) {
            @if (registerForm.get('email')?.errors?.['required']) {
              <small>El correo electrónico es obligatorio</small>
            } @else if (registerForm.get('email')?.errors?.['invalidEmail']) {
              <small>Formato no válido</small>
            }
          }
        </div>
      </div>

      <div class="form-field" >
        <div class="input-icon-wrapper">
          <input type="password" formControlName="password" required placeholder="Contraseña">
          <i class="lni lni-locked-2 icon"></i>
          @if (registerForm.get('password')?.invalid && (registerForm.get('password')?.dirty || registerForm.get('password')?.touched)) {
            @if (registerForm.get('password')?.errors?.['required']) {
              <small>La contraseña es obligatoria</small>
            } @else {
              @if (registerForm.get('password')?.errors?.['minlength']) {
                <small class="long-error-message-one">Mínimo 16 caracteres</small>
              }
              @else  {
                <small class="long-error-message-second">Debe incluir mayúscula, número y caracter especial</small>
              }
            }
          }
        </div>
      </div>

      <div class="form-field">
        <div class="input-icon-wrapper">
          <select formControlName="role" required>
            <option value="" disabled selected hidden>Selecciona un rol</option>
            <option value="PLAYER">Jugador</option>
            <option value="OWNER">Propietario</option>
          </select>
          <i class="lni lni-hierarchy-1 icon"></i>
          @if (registerForm.get('role')?.invalid && (registerForm.get('role')?.dirty || registerForm.get('role')?.touched)) {
            @if (registerForm.get('role')?.errors?.['required']) {
              <small>El rol es obligatorio</small>
            }
          }
        </div>
      </div>

      <button type="submit" class="button-submit" [disabled]="isLoading()">
        @if (isLoading()) {
          <span class="spinner"></span>
        } @else {
          Registrarse
        }
      </button>
    </form>

    @if (errorMessage()) {
      <p class="error-message">{{ errorMessage() }}</p>
    }

    <p>
      ¿Ya tienes cuenta?&nbsp;
      <a routerLink="/login">Inicia sesión</a>
    </p>
  </div>

  <div class="illustration-section">
    <img src="assets/images/register.png" alt="Register Illustration" class="illustration">
  </div>
</div>
