<div class="title-wrapper">
  <h2 class="section-title">Espacios Deportivos</h2>
  @if (showAddSportSpaceButton()) {
    <button class="add-sport-btn" routerLink="/sport-spaces/create" title="Añadir espacio">
      <i class="lni lni-plus"></i>
    </button>
  }
</div>

@if (this.userRole === UserRole.PLAYER) {
  <app-filter
    [config]="[
    { field: 'sport', type: 'select', label: 'Deporte', options: SPORTS },
    { field: 'price', type: 'number', label: 'Precio máximo' },
    { field: 'openTime', type: 'time', label: 'Hora de apertura'},
    { field: 'closeTime', type: 'time', label: 'Hora de cierre'}
  ]"
    (filtersChanged)="onFiltersChanged($event)"
  />
}

<div class="grid-map-wrapper">
  @if (isMapView()) {
    <div class="map-container">
      <div id="map"></div>
    </div>
  } @else {
    @defer (prefetch on viewport) {
      @if (sportSpaces(); as spaces) {
        <div class="cards-grid">
          @for (space of spaces; track space.id) {
            <app-sport-space-card [sportSpace]="space" />
          } @empty {
            <div class="empty-state">
              <i class="lni lni-megaphone-1 empty-icon"></i>
              <p>No tienes espacios deportivos registrados, empieza agregando uno mejorando tu suscripción</p>
            </div>
          }
        </div>
      } @else {
        <div class="cards-grid">
          @for (i of loadingSkeletons(); track i) {
            <div class="skeleton-card"></div>
          }
        </div>
      }
    } @placeholder {
      <div class="empty-state">
        <i class="lni lni-hourglass placeholder-icon"></i>
        <p>Preparando carga de espacios deportivos...</p>
      </div>
    } @loading {
      <div class="cards-grid">
        @for (i of loadingSkeletons(); track i) {
          <div class="skeleton-card"></div>
        }
      </div>
    }
  }
</div>

<button class="toggle-view-btn" (click)="toggleView()">
  <i class="lni" [ngClass]="{
    'lni-map-marker-1': !isMapView(),
    'lni-layout-9': isMapView()
  }"></i>
</button>



