<div class="space-info">
  <img [src]="imageUrl" [alt]="'Imagen de ' + sportSpace.name" class="space-info__image" />

  <div class="space--info__content">
    <h1 class="space-info__title">{{ sportSpace.name }}</h1>
    <p class="space-info__type">🏅 {{ sportIdToLabelMap[sportSpace.sportId] }} - {{ gamemodeIdToLabelMap[sportSpace.gamemodeId] }}</p>
    <p class="space-info__price">💵 S/ {{ sportSpace.price }}</p>
    <p class="space-info__location">📍 {{ sportSpace.address }}, {{ districtIdToLabelMap[sportSpace.districtId] }}</p>
    <p class="space-info__hours">🕒 Abierto de {{ sportSpace.openTime }} a {{ sportSpace.closeTime }}</p>

    <h2 class="space-info__subtitle">Descripción</h2>
    <p class="space-info__description">{{ sportSpace.description }}</p>
  </div>
</div>
