<div class="sport-space-info__container">
  <div class="info-panels">
    <div class="info-panel">
      <h3>Detalles</h3>
      <div class="info-row">
        <i class="lni lni-star-fat"></i>
        <span><strong>Modo de juego:</strong> {{ gamemodeIdToLabelMap[sportSpace.gamemodeId] }}</span>
      </div>
      <div class="info-row">
        <i class="lni lni-dollar-circle"></i>
        <span><strong>Precio:</strong> {{ sportSpace.price }} créditos por hora</span>
      </div>
      <div class="info-row">
        <i class="lni lni-alarm-1"></i>
        <span><strong>Horario:</strong> {{ sportSpace.openTime }} - {{ sportSpace.closeTime }}</span>
      </div>
    </div>

    <div class="info-panel">
      <h3>Ubicación</h3>
      <div class="info-row">
        <i class="lni lni-map-pin-5"></i>
        <span>{{ sportSpace.address }}</span>
      </div>
    </div>

    <div class="info-panel">
      <h3>Adicional</h3>
      <div class="info-row">
        <i class="lni lni-paperclip-1"></i>
        <p>{{ sportSpace.description }}</p>
      </div>
    </div>
  </div>

  <div class="map-container">
    <div id="map" class="map"></div>
  </div>
</div>
