<div class="login-container">
  <h2>Iniciar Sesión</h2>

  <form [formGroup]="loginForm" (ngSubmit)="login()">

    <div>
      <label>Email:</label>
      <input type="email" formControlName="email">
      @if (loginForm.get('email')?.invalid && (loginForm.get('email')?.dirty ||loginForm.get('email')?.touched)) {
        @if (loginForm.get('email')?.errors?.["required"]) {
          <small>El correo electrónico es obligatorio</small>
        }
        @if (loginForm.get('email')?.errors?.["invalidEmail"]) {
          <small>Formato de correo electrónico no válido</small>
        }
      }
    </div>

    <div>
      <label>Contraseña:</label>
      <input type="password" formControlName="password" required>
      @if (loginForm.get('password')?.invalid && (loginForm.get('password')?.dirty ||loginForm.get('password')?.touched)) {
        @if (loginForm.get('password')?.errors?.["required"]) {
          <small>La contraseña es obligatoria</small>
        }
        @if (loginForm.get('password')?.errors?.["minlength"]) {
          <small>La contraseña debe tener al menos 16 caracteres</small>
        }
      }
    </div>

    <button type="submit" [disabled]="loginForm.invalid">Ingresar</button>
  </form>

  @if (errorMessage()) {
    <p>Correo electrónico o contraseña incorrectos</p>
  }

  <p>¿No tienes una cuenta? <a routerLink="/register">Regístrate</a></p>

  <button (click)="toggleForgotPassword()">¿Olvidaste tu contraseña?</button>

  @if (showEmailInputForgotPassword) {
    <form [formGroup]="recoverPasswordForm" (ngSubmit)="forgotPassword(recoverPasswordForm.get('email')?.getRawValue())">
      <label for="emailRecover">Ingresa tu correo electrónico para restaurar tu contraseña</label>
      <input id="emailRecover" type="email" formControlName="email" required />
      <button type="submit" [disabled]="recoverPasswordForm.invalid">Enviar</button>
      @if (recoverPasswordForm.get('email')?.invalid && (recoverPasswordForm.get('email')?.dirty || recoverPasswordForm.get('email')?.touched)) {
        @if (recoverPasswordForm.get('email')?.errors?.['required']) {
          <small>El correo electrónico es obligatorio</small>
        } @else if (recoverPasswordForm.get('email')?.errors?.['invalidEmail']) {
          <small>Formato de correo electrónico no válido</small>
        }
      }
    </form>
  }
</div>
