<div class="create-sport-space-container">
  <h2>Crear Espacio Deportivo</h2>

  <form [formGroup]="createSportSpaceForm" (ngSubmit)="createSportSpace()">

    <div>
      <label>Nombre:</label>
      <input type="text" formControlName="name" required>
      @if (createSportSpaceForm.get('name')?.invalid && (createSportSpaceForm.get('name')?.dirty || createSportSpaceForm.get('name')?.touched)) {
        @if (createSportSpaceForm.get('name')?.errors?.["required"]) {
          <small>El nombre es obligatorio</small>
        }
        @if (createSportSpaceForm.get('name')?.errors?.["minlength"]) {
          <small>El nombre debe tener mínimo 10 caracteres</small>
        }
      }
    </div>

    <div>
      <label>Imagen:</label>
      <input type="file" (change)="onImageSelected($event)" accept="image/*" required>

      @if (selectedImageUrl) {
        <div class="image-preview">
          <img [src]="selectedImageUrl" alt="Vista previa de la imagen" style="max-width: 200px; max-height: 200px;" />
        </div>
      }
    </div>


    <div>
      <label>Deporte:</label>
      <select formControlName="sportId" required>
        @for (sport of SPORTS; track sport.id) {
          <option [value]="sport.id">{{ sport.label }}</option>
        }
      </select>

      @if (createSportSpaceForm.get('sportId')?.invalid && (createSportSpaceForm.get('sportId')?.dirty || createSportSpaceForm.get('sportId')?.touched)) {
        @if (createSportSpaceForm.get('sportId')?.errors?.["required"]) {
          <small>Seleccionar un deporte es obligatorio</small>
        }
        @if (createSportSpaceForm.get('sportId')?.errors?.["min"] || createSportSpaceForm.get('sportId')?.errors?.["max"]) {
          <small>Debes seleccionar una opción válida de deporte</small>
        }
      }
    </div>


    <div>
      <label>Modo de juego:</label>
      <select formControlName="gamemodeId" required>
        @for (item of gamemodes(); track item.id) {
          <option [value]="item.id">{{ item.label }}</option>
        }
      </select>

      @if (createSportSpaceForm.get('gamemodeId')?.invalid && (createSportSpaceForm.get('gamemodeId')?.dirty || createSportSpaceForm.get('gamemodeId')?.touched)) {
        @if (createSportSpaceForm.get('gamemodeId')?.errors?.['required']) {
          <small>El modo de juego es obligatorio</small>
        }
      }
    </div>

    <div>
      <label>Precio:</label>
      <input type="number" formControlName="price" required>
      @if (createSportSpaceForm.get('price')?.invalid && (createSportSpaceForm.get('price')?.dirty || createSportSpaceForm.get('price')?.touched)) {
        @if (createSportSpaceForm.get('price')?.errors?.["required"]) {
          <small>El precio es obligatorio</small>
        }
        @if (createSportSpaceForm.get('price')?.errors?.["min"]) {
          <small>El precio debe ser al menos 40</small>
        }
      }
    </div>

    <div [ngClass]="{ 'invalid-map': locationNotSelected }" id="map" style="height: 500px; width: 500px; margin-bottom: 1rem;"></div>

    @if (locationNotSelected) {
      <small style="color: red;">Debes seleccionar una ubicación en el mapa</small>
    }

    <div>
      <label>Descripción:</label>
      <textarea formControlName="description" required></textarea>
      @if (createSportSpaceForm.get('description')?.invalid && (createSportSpaceForm.get('description')?.dirty || createSportSpaceForm.get('description')?.touched)) {
        @if (createSportSpaceForm.get('description')?.errors?.["required"]) {
          <small>La descripción es obligatoria</small>
        }
        @if (createSportSpaceForm.get('description')?.errors?.["minlength"]) {
          <small>La descripción debe tener mínimo 10 caracteres</small>
        }
      }
    </div>

    <div>
      <label>Hora de apertura:</label>
      <select formControlName="openTime" required>
        @for (hour of [8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23]; track hour) {
          <option [value]="hour.toString().padStart(2, '0') + ':00'">{{ hour.toString().padStart(2, '0') }}:00</option>
        }
      </select>
    </div>

    <div>
      <label>Hora de cierre:</label>
      <select formControlName="closeTime" required>
        @for (hour of [8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23]; track hour) {
          <option [value]="hour.toString().padStart(2, '0') + ':00'">{{ hour.toString().padStart(2, '0') }}:00</option>
        }
      </select>

      @if (createSportSpaceForm.errors?.['closeBeforeOpen']) {
        <small>La hora de cierre debe ser mayor que la hora de apertura</small>
      }

      @if (createSportSpaceForm.errors?.['lessThanFiveHours']) {
        <small>Debe haber al menos 5 horas de diferencia entre apertura y cierre</small>
      }
    </div>
    <button type="submit" [disabled]="createSportSpaceForm.invalid">Crear Espacio Deportivo</button>
  </form>
</div>
