<section class="availability" aria-labelledby="availability__heading">

  @defer (when !isLoadingAvailability()) {
    @if (weekDays.length > 0) {
      <div class="availability__container">
        <div class="availability__table-scroll">
            <table class="availability__table">
              <thead>
              <tr>
                <th>Fecha</th>
                @for (time of timeSlots; track time) {
                  <th>{{ time }}</th>
                }
              </tr>
              </thead>
              <tbody>
                @for (day of weekDays; track day) {
                  <tr>
                    <td class="availability__time-label">{{ TimeUtil.formatDate(day) }}</td>
                    @for (time of timeSlots; track time) {
                      <td>
                        <button
                          type="button"
                          class="availability__slot-box"
                          [ngClass]="{
                            'availability__slot-box--available': isAvailable(day, time) && !isPast(day, time),
                            'availability__slot-box--unavailable': !isAvailable(day, time) && !isPast(day, time),
                            'availability__slot-box--selected': isSelected(day, time) && currentUser()?.roleType !== 'OWNER',
                            'availability__slot-box--past': isPast(day, time)
                          }"
                          [title]="day + ' - ' + time"
                          (click)="onSlotClick(day, time)"
                          [disabled]="currentUser()?.roleType === 'OWNER' || isPast(day, time)">
                        </button>
                      </td>
                    }
                  </tr>
                }
              </tbody>
            </table>
        </div>

        <aside class="availability__legend" aria-label="Leyenda de disponibilidad">
          <div class="availability__legend-item">
            <span class="availability__legend-box availability__legend-box--available"></span> Disponible
          </div>
          <div class="availability__legend-item">
            <span class="availability__legend-box availability__legend-box--unavailable"></span> Ocupado
          </div>
        </aside>
      </div>

      @if (currentUser()?.roleType === 'PLAYER') {
        <footer class="availability__footer">
          <button (click)="confirmHours()">
            Confirmar horas
          </button>
          @if (showError) {
            <small class="availability__error-message">Debes seleccionar al menos un horario antes de confirmar.</small>
          }
        </footer>
      }
    } @else {
      <div class="availability__info-message">
        La disponibilidad semanal de este espacio deportivo ha finalizado.<br>
        Podrás consultarla nuevamente a partir del lunes a las 07:00 horas.
      </div>
    }
  } @placeholder {
    <app-spinner/>
  }
</section>

<!-- Modal -->
@if (showReservationModal) {
  <app-modal [width]="'450px'" (closeModal)="closeReservationModal()">
    <ng-container modal-header>Confirmar reserva</ng-container>
    <ng-container modal-body>
      <form class="form-body" [formGroup]="reservationForm">
        <div class="form-field">
          <div class="input-icon-wrapper">
            <input type="text" formControlName="reservationName" placeholder="Nombre de la reserva" required>
            <i class="lni lni-message-3-text icon"></i>
            @if (reservationForm.get('reservationName')?.touched && reservationForm.get('reservationName')?.invalid) {
              @if (reservationForm.get('reservationName')?.errors?.['required']) {
                <small class="reservation-form__error">El nombre de la reserva es obligatorio</small>
              }
              @if (reservationForm.get('reservationName')?.errors?.['minlength']) {
                <small class="reservation-form__error">Mínimo 5 caracteres</small>
              }
              @if (reservationForm.get('reservationName')?.errors?.['maxlength']) {
                <small class="reservation-form__error">Máximo 25 caracteres</small>
              }
            }
          </div>
        </div>

        <div class="form-field">
          <div class="input-icon-wrapper">
            <select formControlName="type" required>
              <option value="" disabled selected hidden>Tipo de reserva</option>
              <option value="PERSONAL">Personal</option>
              <option value="COMMUNITY">Comunidad</option>
            </select>
            <i class="lni lni-gear-1 icon"></i>
            @if (reservationForm.get('type')?.touched && reservationForm.get('type')?.invalid) {
              @if (reservationForm.get('type')?.errors?.['required']) {
                <small class="reservation-form__error">El tipo de reserva es obligatorio</small>
              }
            }
          </div>
        </div>
      </form>

      <section class="reservation-summary">
        <div>
          <strong>Día de juego:</strong><br> {{ TimeUtil.formatDate(selectedGameDay) }}
        </div>
        <div>
          <strong>Horario seleccionado:</strong><br> {{ selectedStartTime }} - {{ selectedEndTime }}
        </div>
        <div>
          <strong>Costo de la reserva:</strong><br> {{ totalCost() }} créditos
          @switch (reservationType()) {
            @case ('PERSONAL'){
              <small>(Adelanto del 50%)</small>
            }
            @case ('COMMUNITY') {
              <small>(Adelanto por persona)</small>
            }
          }
        </div>
      </section>
    </ng-container>

    <ng-container modal-footer>
      <button class="button-submit" (click)="submitReservation()" [disabled]="isLoadingSubmitRequest()">
        @if (isLoadingSubmitRequest()) {
          <span class="spinner-default"></span>
        } @else {
          Reservar
        }
      </button>
    </ng-container>
  </app-modal>
}
