@let user = userInfo();

<h1>Perfil</h1>
@if (user) {
  <div [formGroup]="profileForm">

    <!-- Nombre -->
    <div>
      <p><strong>Nombre:</strong> {{ user.name }}</p>
      <button type="button" (click)="editingName = !editingName">
        {{ editingName ? 'Cancelar' : 'Editar nombre' }}
      </button>
      @if (editingName) {
        <input type="text" formControlName="name" placeholder="Nuevo nombre" />
        @if (profileForm.get('name')?.touched && profileForm.get('name')?.invalid) {
          @if (profileForm.get('name')?.errors?.['required']) {
            <small>El nombre es obligatorio</small>
          }
          @if (profileForm.get('name')?.errors?.['minlength']) {
            <small>El nombre debe tener mínimo 3 letras</small>
          }
        }
        <button type="button" (click)="updateName()" [disabled]="profileForm.get('name')?.invalid">Guardar</button>
      }
    </div>

    <!-- Email -->
    <div>
      <p><strong>Email:</strong> {{ user.email }}</p>
      <button type="button" (click)="editingEmail = !editingEmail">
        {{ editingEmail ? 'Cancelar' : 'Editar email' }}
      </button>
      @if (editingEmail) {
        <input type="email" formControlName="email" placeholder="Nuevo email" />
        @if (profileForm.get('email')?.touched && profileForm.get('email')?.invalid) {
          @if (profileForm.get('email')?.errors?.['required']) {
            <small>El correo electrónico es obligatorio</small>
          }
          @if (profileForm.get('email')?.errors?.['invalidEmail']) {
            <small>Formato de correo electrónico no válido</small>
          }
        }
        <button type="button" (click)="updateEmail()" [disabled]="profileForm.get('email')?.invalid">Guardar</button>
      }
    </div>

    <!-- Contraseña -->
    <div>
      <p><strong>Contraseña:</strong> ********</p>
      <button type="button" (click)="editingPassword = !editingPassword">
        {{ editingPassword ? 'Cancelar' : 'Cambiar contraseña' }}
      </button>
      @if (editingPassword) {
        <input type="password" formControlName="password" placeholder="Nueva contraseña" />
        @if (profileForm.get('password')?.touched && profileForm.get('password')?.invalid) {
          @if (profileForm.get('password')?.errors?.['required']) {
            <small>La contraseña es obligatoria</small>
          } @else {
            @if (profileForm.get('password')?.errors?.['minlength']) {
              <small>La contraseña debe tener al menos 16 caracteres</small>
            }
            @else  {
              <small>La contraseña debe incluir una mayúscula, un número y un carácter especial</small>
            }
          }
        }
        <button type="button" (click)="updatePassword()" [disabled]="profileForm.get('password')?.invalid">Guardar</button>
      }
    </div>

    <!-- Rol -->
    <div>
      <p><strong>Rol:</strong> {{ user.roleType | titlecase }}</p>
    </div>

    <!-- Creditos -->
    <div>
      <p><strong>Créditos:</strong> {{ user.credits }}</p>
      @if (user.roleType === 'PLAYER') {
        <button (click)="openRechargeModal()">Recargar Créditos</button>
      }
    </div>

    <!-- Modal para recargar créditos -->
    @if (showRechargeModal) {
      <app-modal (closeModal)="closeRechargeModal()">
        <ng-container modal-header>Recargar Créditos</ng-container>
        <ng-container modal-body>
          <input type="number" formControlName="amount" placeholder="Monto a recargar" />
          @if (profileForm.get('amount')?.touched && profileForm.get('amount')?.invalid) {
            @if (profileForm.get('amount')?.errors?.['required']) {
              <small>El monto es obligatorio</small>
            }
            @if (profileForm.get('amount')?.errors?.['min']) {
              <small>El monto debe ser al menos 1</small>
            }
          }
        </ng-container>
        <ng-container modal-footer>
          <button (click)="recharge()">Aceptar</button>
          <button (click)="closeRechargeModal()">Cancelar</button>
        </ng-container>
      </app-modal>
    }
  </div>

} @else {
  <p>Cargando perfil...</p>
}
<button (click)="logout()">Cerrar sesión</button>
